<h1 class="mt-5 d-flex justify-content-center">Welcome to EventkaM App</h1>
<p class="lead d-flex justify-content-center">You can plan your events, add your friends and do a lot of things.!</p>
<p class="lead d-flex justify-content-center">Please Register or Sign Up.</p>

<div class="col-12 offset-5">
  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success"%>
  <%= link_to "Sign In", new_user_session_path, class:"btn btn-success"%>
</div>