
<% if user_signed_in? %>
  <h1 class="mt-5 d-flex justify-content-center">Welcome to EventkaM App</h1>
  <p class="lead d-flex justify-content-center">You can plan your events, add People can particpat and do a lot of things.!</p>

  <div class="row justify-content-center">
    <%= link_to "Add Event", new_event_path, class:"btn btn-success col-2"%>
  &nbsp;
    <%= link_to "Go to Dashboard", events_path, class:"btn btn-success col-2"%>
  </div>

<%else%>
  <h1 class="mt-5 d-flex justify-content-center">Welcome to EventkaM App</h1>
  <p class="lead d-flex justify-content-center">You can plan your events, add People can particpat and do a lot of things.!</p>

  <p class="lead d-flex justify-content-center">Please Register or Sign Up.</p>

  <div class="row justify-content-center">
    <%= link_to "Register", new_user_registration_path, class:"btn btn-success col-2"%>
  &nbsp;
    <%= link_to "Log In", new_user_session_path, class:"btn btn-success col-2"%>
  </div>
<%end%>

